* {
    box-sizing: border-box; /* tells the browser to account for any border and padding in the values you specify for an element's width and height */
    margin: 0; /* sets a margin around the element */
    padding: 0; /* sets how far the text is from the margin of an element */
    font-family: 'Kumbh Sans', sans-serif; /* specifies the font origin and font that will be used for the text */
}

.navbar { /* sets a reference to the navigation bar and background class */
    background: #131313;
    height: 80px; /* sets the hight of the navigation bar and background */
    display: flex; /* wraps all the text together inside the text box */
    justify-content: center; /* centers the text in the display box */
    align-items: center; /* centers the text box to the text within the display box*/
    font-size: 1.2rem; /* sets the font size to a value of rem (rem is a value multiplied with the default page size of 16, 2rem = 32) */
    position: sticky; /* makes the navigation bar stay at that part of the screen (stays there even when you scroll) */
    top: 0; /* how far a box's top margin edge is offset below the top edge of the box's 'containing block' */
    z-index: 999; /* changes the order of which items will be displayed, higher the number the higher the priority (placed at the absolute top) */
}

.navbar__container { /* sets the reference to the nav bar container class */
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px; /* sets the maximum width of the element*/
    margin: 0 auto; /* sets a margin around the element */
    padding: 0 50px; /* sets how far the text is from the margin of an element */
}

#navbar__logo { /* sets a reference to the navigation bar logo ID */
    background-color: #ff1100; /* sets the background colour of an element */
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%); /* sets a gradient for the Logbook logo text */
    background-size: 100%; /* sets the background size to a value */
    -webkit-background-clip: text; /* defines how far a background should extend within an element */
    -moz-background-clip: text; /* moz is for mozilla, controls how the background image or color is clipped to the element’s content area, padding, or border */
    -webkit-text-fill-color: transparent; /* fills the text colour */
    -moz-text-fill-color: transparent; /* fills the text colour */
    display: flex;
    align-items: center;
    cursor: pointer; /* sets the cursor to a clicking cursor over a set element */
    text-decoration: none; /* sets the appearance of decorative lines on text */
    font-size: 2rem;
}

.fa-gem { /* used to display a gem icon */
    margin-right: 0.5rem;
}

.navbar__menu { /* sets a reference to the navigation bar menu class */
    display: flex;
    align-items: center;
    list-style: none; /* sets the listing style to none (removes the bullet points) */
    text-align: center;
}

.navbar__item { /* sets a reference to the navitgation bar item class */
    height: 80px;
}

.navbar__links { /* sets a reference to the navigation bar links class */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn { /* sets a reference to the navigation bar button class */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button { /* puts a button around the selected text */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none; /* sets an element's border */
    outline: none; /* sets most of the outline properties in a single declaration */
    border-radius: 4px; /* rounds the corners of an element's outer border edge. You can set a single radius to make circular corners, or two radii to make elliptical corners. */
    background: #fc5947;
    color: #fff;
}

.button:hover { /* sets a hover animation to the button */
    background: #4837ff;
    transition: all 0.3s ease;
}

.navbar__links:hover { /* sets a hover animation to the text within the navigation bar links class */
    color: #f77062;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) { /* when the width of the selected element is at 960px classes are triggered */
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid; /* sets the text boxes in a grid format */
        grid-template-columns: auto; /* defines the line names and track sizing functions of the grid columns */
        margin: 0;
        width: 100%;
        position: absolute; /* sets how an element is positioned in a document, the element is removed from the normal document flow, and no space is created for the element in the page layout */
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh; /* sets the height to 50% of the viewport height */
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active { /* navigation bar menu receives a distinct visual treatment to indicate its current state */
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5 ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo { /* targets the navigation bar logo, used to position */
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3 ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Hero Section CSS */

.main {
    background-color: #141414;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content {
    color: #fff;
    width: 100%;
  }

.main__content h1 {
    size: 4rem; 
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover::after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: 80%;
    width: 80%;
}

/* Mobile Responsive */

@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }
}